= "<iframe frameborder=\"0\" allowtransparency=\"true\" scrolling=\"no\" src=\"https://money.yandex.ru/embed/shop.xml?account=410013249517247&quickpay=shop&payment-type-choice=on&writer=seller&targets=Оплата счета №#{@order.id}&targets-hint=&default-sum=#{@total}&button-text=01&fio=on&mail=on&phone=on&successURL=e-vpn.ru\" width=\"450\" height=\"198\"></iframe>".html_safe
