
-@products.each do |p|
  .row{:style => "margin-top: 20px;"}
    .col-md-3
      = image_tag p.image.url, :style => "width: 200px;"
    .col-md-8.col-md-offset-1
      .inline-div
        %h4{:style => "float: left;"}=p.name
        %h5.blue-text{:style => "float: right;"}
          oт
          =p.cost
          руб/мес
      %br
      %br
      %p.text-justify=p.short_description
