.left-menu .list-group{
    padding: 0 0 0 0;
    color: #4c78e6;



}

.list-group-item{
    border: 0;
    padding: 10px 0 0 0;

  a{
    color: #4c78e6;
    font-size: 18px;

  }
  a:hover{
    text-decoration: none;

  }

}
