#top-row{
  padding-bottom: 10px;
  .top-logo{
    width: 80px;

  }

  .logo-text{
    height: 40px;

  }

  a.btn.btn-default{
    background-color: #b63390;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
  }

}
