.grad-line{
  background: linear-gradient(to right, #417ded, #c22c86);

}
.white-text{
  color: #fff;

}

.navbar-default .navbar-nav{
  li{
    a{
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
    }

  }
ul.dropdown-menu{
  background-color: #735dc4;

  li{
      background-color: #735dc4;

    }

  }

}
